#ignore .env (tokens and stuff)
.env

#ignore err.log (it's not even there anymore what)
err.log

#ignore cmd.bat cause useless
cmd.bat

#ignore pycache
cogs/__pycache__
utils/__pycache__

#ignore test file(s)
utils/bad.py
