#ignore .env (tokens and stuff)
.env
env backup

#ignore err.log (it's not even there anymore what)
err.log

#ignore cmd.bat cause useless
cmd.bat

#ignore pycache
__pycache__

#ignore test file(s)
utils/bad.py

#test file
tests.py

#pyvenv.cfg
pyvenv.cfg

#youtube-dl
share
etc

#venv Scripts
Scripts
bot.bat
bot.ps1

#venv Libs
Lib

#venv Include (empty)
Include

#visual studio files
.vscode

#old requirements.txt
requirements.txt.old