#ignore .env (tokens and stuff)
.env
env backup

#ignore err.log (it's not even there anymore what)
err.log

#ignore discord logs
discord.log

#ignore cmd.bat cause useless
cmd.bat

#ignore pycache
__pycache__

#ignore test file(s)
Utils/bad.py

#test file
tests.py

#yt-dlp / youtube-dl
share
etc

#venv files
pyvenv.cfg
Scripts
Lib
Include

#visual studio files
.vscode

#pycharm files
.idea

#old requirements.txt
requirements.txt.old